---
title: Кольцо Урала
photos: ./photos.json
---
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Кольцо Урала</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@9/swiper-bundle.min.css"/>
</head>
<body>
  <div class="container">
    <h1>Кольцо Урала</h1>
    
   

    <div class="swiper">
      <div class="swiper-wrapper">
        {% for post in photos.posts %}
          <div class="swiper-slide" data-tags="{{ post.tags | join: ',' }}">
            {% for mediaUrl in post.media %}
              <img src="{{ mediaUrl }}" alt="{{ post.caption }}">
            {% endfor %}
            <div class="date">{{ post.date }}</div>
            <!-- <div class="caption">{{ post.caption }}</div> -->
           
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <script src="https://unpkg.com/swiper@9/swiper-bundle.min.js"></script>
  <script src="scripts/gallery.js"></script>
</body>
</html>
